<section>
    <header>
        <app-header></app-header>

    </header>

    <aside>
            
        <a  class="btn btn-outline-primary" routerLink="add-coupon" routerLinkActive="active-link">add coupon</a>
        <a  class="btn btn-outline-primary" routerLink="update-coupon" routerLinkActive="active-link">update coupon</a>
        <a  class="btn btn-outline-primary" routerLink="delete-coupon" routerLinkActive="active-link">delete coupon</a>
        <a  class="btn btn-outline-primary" routerLink="company-coupon" routerLinkActive="active-link">company coupon</a>
        <a  class="btn btn-outline-primary" routerLink="company-coupon-price" routerLinkActive="active-link">company coupon up to max price</a>
        <a  class="btn btn-outline-primary" routerLink="company-coupon-category" routerLinkActive="active-link">company coupon by category</a>
        <a  class="btn btn-outline-primary" routerLink="company-details" routerLinkActive="active-link">company details</a>
    
    </aside>

    <main>

        <router-outlet></router-outlet>
    </main>

    <footer>
        <app-footer></app-footer>
    </footer>

</section>