<br>
<p>Update company</p>
<div>
    <form action="">
        <input type="number" placeholder="id" [(ngModel)]="company.id" name="id" class="form-control">
        <input type="text" placeholder="name" [(ngModel)]="company.name" name="name" class="form-control">
        <input type="text" placeholder="email" [(ngModel)]="company.email" name="email" class="form-control">
        <input type="text" placeholder="password" [(ngModel)]="company.password" name="password" class="form-control">
        <button class="btn btn-outline-primary" (click)="updateCompany()">update</button>
    </form>
</div>