<br>
<p>Get company</p>

<div>
    <form action="">
        <input type="number" placeholder="company id" [(ngModel)]="companyId" name="id" class="form-control">
    </form>
</div>

<button class="btn btn-outline-primary" (click)="getOneCompany()">get company</button>
<br><br>

<table class="table table-hover table-stripped" *ngIf="company">
    <thead class="thead-dark">
        <tr>
            <th>id</th>
            <th>name</th>
            <th>email</th>
            <th>password</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{this.company.id}}</td>
            <td>{{this.company.name}}</td>
            <td>{{this.company.email}}</td>
            <td>{{this.company.password}}</td>
        </tr>
    </tbody>
</table>