<br>
<p> {{coupon.description}}</p>

<ng-template #loading>
    <img width="70px" src="assets/loading.gif" alt="">
</ng-template>

<div>
    <img *ngIf="coupon.image" [style.height.px]="imageWidth"
        src="./assets/images/{{coupon.company?.name}}/{{coupon.image}}" alt="pic">
    <br><br>
    <div class="button">
        <button class="btn btn-outline-primary" (click)="increaseWidth()">+</button>
        <button class="btn btn-outline-primary" (click)="reserWidth()">reset</button>
        <button class="btn btn-outline-primary" (click)="decreaseWidth()">-</button>
        <br>
        <input type="range" min="100" max="600" step="10" [(ngModel)]="imageWidth">
        <br> <br>
        <p>{{coupon.price}}$</p>
        <button class="btn btn-outline-success" (click)="purchaeCoupon()">BUY NOW</button>
    </div>
</div>